language: go

go:
  - "1.10"
  - master

env:
  - DEP_VERSION="0.4.1"

before_install:
  # Download the binary to bin folder in $GOPATH
  - curl -L -s https://github.com/golang/dep/releases/download/v${DEP_VERSION}/dep-linux-amd64 -o $GOPATH/bin/dep
  - chmod +x $GOPATH/bin/dep

install:
  - dep ensure

matrix:
  # It's ok if our code fails on unstable development versions of Go.
  allow_failures:
    - go: master
  fast_finish: true

notifications:
  email: false

before_script:
  # Download codeclimate binary
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script: go test -v -race -coverprofile=c.out ./...

after_script:
  - ./cc-test-reporter after-build -t gocov --exit-code $TRAVIS_TEST_RESULT

branches:
  only:
    - master
